body{
    background-color: rgb(6, 0, 19);
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    max-height: 100%;
}
.main{
    color: rgb(163, 163, 163);
    max-width: 100%;
    padding: 20px;
    margin: 40px;
    width: auto;
    height: 100%;
    display: flex;
    background-color: rgb(10, 0, 31);
}
.navbar{
    position: sticky;
    background: rgb(13, 0, 37);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-height: 600px;
    justify-content: left;
    height: fit-content;
}
 #listnav{
    display: flex;
    align-self: center;
    list-style: none;
    margin:20px 20px 15px 20px ;
    max-width: 100%;
}
#listnav a{
    font-size: 22px;
    margin: 40px;
    letter-spacing: 3px;
    padding: 20px;
    text-decoration: none;
    color: rgb(163, 163, 163);
}

.right{
    width: 50%;
    display: flex;
    justify-content:flex-end ;
    align-self: center;
    margin: 20px;
    max-width: 100%;
}
#loginbtn{
    width: 150px;
    height: 40px;
    border: solid, rgb(31, 31, 31);
    border-style: groove;
    background: rgb(15, 15, 15);
    color: rgb(163, 163, 163);
    
    
}
#loginbtn:hover{
    width: 155px;
    transition: all, 300ms;
    height: 45px;
    border: solid, rgb(31, 31, 31);
    border-style: groove;
    background: rgb(15, 15, 15);
    color: rgb(163, 163, 163);

}
#loginbtn:focus{
        outline: none;

}