body{
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
}
.navbar{
    background: rgb(13, 0, 37);
    width: 100%;
    max-height: 60px;
}
#listnav{
    display: flex;
    justify-content: center;
    margin:0px ;
}
#listnav a{
    font-size: 22px;
    margin: 7px;
    padding: 20px;
    text-decoration: none;
    color: rgb(71, 71, 71);
}