body{
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
}
.navbar{
    background: black;
    width: 100%;
}
#listnav{
    display: flex;
    justify-content: center;
    margin:0px ;
}
#listnav a{
    margin: 7px;
}