@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css");

@font-face {
  font-family: Söhne;
  src: local("C:\Windows\Fonts/Söhne") format("Leicht");
}
p {
  margin: unset;
}
h2 {
  margin: none;
}

div {
  display: unset;
}

#main {
  overflow: hidden;
  font-family: Söhne;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0px;
}
a {
  text-decoration: none !important
;
  color: unset !important;
}

#image {
  background-image: url("Sans-titre-1.png"), url("fond-normal-size.jpg");
  color: white;
  font-family: kanit medium;
  display: grid;
  max-width: 1920px;
  grid-template-columns: 1fr 2fr;
  width: 100vw;
  height: 1080px;
  flex-direction: column;
}

.topright {
  background: black;
  font-size: 37px;
  text-align: right;
  margin-bottom: 243px;
}
.titre {
    color: whitesmoke;
  margin: 0px;
  font-family: kanit medium;
  font-weight: normal;
  font-size: 117px;
  text-align: left;
}
.bullshit {
  font-size: 37px;
  font-family: Sohne-Leicht;
}
#follow {
  margin-bottom: 40px;
  text-align: right;
  height: fit-content;
  text-align: right;
}

.frat {
  width: 100%;
  height: 1080px;
}
.fratt {
  padding: 0px 45px 0px 45px;
  max-height: 1080px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}
#row1 {
  font-size: 37px;
  text-align: right;
}
#row2 {
  height: fit-content;
}
#row3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
}
#avantages {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-gap: 195px;
}
.stitle {
  font-family: kanit;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 47px;
}
#first {
  text-align: center;
  margin-top: 110px;
}
#second {
  justify-items: center;
  display: grid;
  margin-bottom: 300px;
  margin-left: 139px;
  margin-right: 139px;
  grid-template-columns: 1fr 1fr 1fr;
}
.av {
  display: inline;
  justify-content: center;
  text-align: center;
}
.cardt {
  font-size: 37px;
  font-weight: bold;
}
.cardp {
  font-size: 28px;
  font-weight: lighter;
}
.cardm {
  color: #ffa62b;
  font-size: 60px;
  justify-self: center;
}
#coach {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1920px;
  align-content: center;
  color: white;
  width: 100vw;
  max-height: 1080px;
  height: 100vh;
  background-image: url("jonathan-borba-R0y_bEUjiOM-unsplash.png  ");
}
#area {
  margin-left: 150px;
}
#areat {
  font-size: 37px;
}
#areatb {
  font-size: 37px;
  font-weight: bold;
  text-decoration: underline #ffa62b;
  color: unset;
}
#class {
  margin-top: 229px;
  margin-bottom: 160px;
  text-align: center;
}
#class1 {
  text-align: center;
}
.carousel-items {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
}
.carousel-item {
  margin-left: 1rem;
}
#cards {
    flex-wrap: wrap;
  display: grid;
  grid-column-gap: 200px;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.cardtitle {
  font-size: 37;
  color: white;
  font-weight: bolder;
}
.card {
  color: white;
  display: grid;
  grid-template-rows: 1fr 2fr 4fr 2fr 1fr;
  background-color: #ffa62b;
  width: 420px;
  height: 670px;
}
#liste {
  font-size: 19px;
  text-align: left;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.checklist {
  display: flex;
  align-content: center;
}
.double {
  display: flex;
  line-height: unset;
  align-content: center;
  margin-top: 20px;
  padding-right: 20px;
}
#offer {
  margin-top: 240px;
  margin-bottom: 124px;
}
.frais {
  display: flex;
  align-content: center;
  flex-direction: column-reverse;
}
.prom {
  font-weight: bold;
}
#choix {
  border: none;
  justify-self: center;
  width: 100px;
  height: 30px;
  background-color: white;
  color: #ffa62b;
}
.horaire {
  font-weight: bold;
  font-size: 19px;
}
.newsletter {
  margin-top: 240px;
  text-align: center;
  margin-bottom: 200px;
}
#new {
  margin-bottom: 125px;
}
#putain {
  margin-bottom: 40px;
}
.prop {
  font-size: 28px;
  width: 860px;
  margin-right: 525px;
  margin-left: 525px;
}
#email {
  padding-right: 20px;
  padding-left: 20px;
  width: 480px;
  height: 80px;
}
#envoi{
    color:#ffa62b ;
    text-decoration: underline #ffa62b;
    font-size: 29px;
    border: none;
    background: none;
    text-transform: uppercase;

}
#message{
    font-size: 12px;

}